@model IEnumerable<Car>
@{
    ViewData["Title"] = "Samochody";
}
<div class="container">
    <h1>SAMOCHODY</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var car in Model)
        {
            <div class="col mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="@car.ImageUrl" class="card-img-top" alt="@car.Name">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@car.Name</h5>
                        <p class="card-text">@car.PricePerDay zł/dzień</p>
                        <a href="@Url.Action("Details", "RentalForms", new { id = car.Id })" class="btn btn-primary mt-auto">Wynajmij</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
